.main-content .welcome {
    font-size: 24px;
    font-weight: 400;
}

.laundry_dataku {
    display: inline-block;
    flex-direction: column;
}

.main-content .laundry_data {
    display: inline-table;
    position: relative;
    height: 6rem;
    width: 14.25rem;
    margin: 2rem 0 2rem 2rem;
    padding: .75rem 1rem 1rem 1.25rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .10);
    font-size: 28px;
    font-weight: 600;
    box-sizing: border-box; 
}

.laundry_data img {
    width: 45px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.laundry_data p{
    font-size: 16px;
    font-weight: 400;
}

.laundry_data h5{
    font-weight: 500;
}

.data p{
    font-size: 20px;
    font-weight: 400;
    margin: .75rem 0 0 20px;
}

.data_harian{
    display: inline-block;
    position: relative;
    width: 40rem;
    height: 350px;
    margin: 0 0 2rem 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .10);
    font-size: 28px;
    font-weight: 600;
}
.data_bulanan{
    display: inline-block;
    position: relative;
    width: 30.75rem;
    height: 350px;
    margin: 0 0 2rem 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .10);
    font-size: 28px;
    font-weight: 600;
}

#data-hari, #data-bulan {
    margin-left: 15px;
}

footer {
    position: fixed;
    bottom: 0; 
    margin-right: 0;
    left: 19rem;
    padding: 20px;
    border-top: 1px solid grey;
    width: 100vw;
    font-size: 16px;
    color: grey;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
    border-radius: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    padding-top: 1.5rem;
    width: 28rem;
    border-radius: 10px;
    height: 30rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.3s
  }
  
  
  
  .modal-content p {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
  
  
  .modal-content .ftambah{
    margin-left: 18%;
    margin-right: 18%;
  } 
  
  .modal-content .fedit{
    margin-left: 18%;
    margin-right: 18%;
  } 
  
  .modal-content label {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
  }
  
  .modal-content input {
    width: 100%;
    border-radius: 8px;
    height: 30px;
    padding: 1rem;
    border : 1px solid grey;
  }
  
  .modal-content input[readonly]{
    background-color: rgba(0, 0, 0, 0.10);
  }
  
  .modal-content select {
    width: 100%;
    border-radius: 8px;
    height: 35px;
    border : 1px solid grey;
    padding: 0 .8rem;
  }
  
  .modal-content select:invalid {
    color: gray;
  }
  .modal-content option[value=""][disabled] {
    display: none;
  }
  .modal-content option{
    color: black;
  }
  
  .form-box {
    margin-top: 8px;
  }
  
  .simpan {
    transition: box-shadow 350ms ease;
    background-color: #6F6CEC;
    border: none;
    width: 110px;
    height: 30px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    align-content: center;
  }
  
  .modal-content i{
    margin-right: 4px;
  }
  
  .close {
    transition: box-shadow 350ms ease;
    background-color: #6F6CEC;
    border: none;
    color: white;
    position: absolute;
    width: 110px;
    height: 30px;
    right: 150px;
    bottom: 30px;
    font-size: 14px;
    position: all;   
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .modal-content input:focus {
    outline: none;
    border: 1px solid #6F6CEC;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);
  }
  
  .modal-content select:focus {
    outline: none;
    border: 1px solid #6F6CEC;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);
  }
  
  .modal button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(111, 108, 236, 0.3), -5px 0 10px rgba(111, 108, 236, 0.3);
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  .keluarku{
    position: relative;
    background-color: white;
    height: 150px;
    width: 480px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
    font-weight: 500;
    font-size: 24px;
    padding: 40px 10px 10px 10px;
    text-align: center;
  }
  
  .keluarku .simpan{
    right: 20px;
    bottom: 20px;
  }
  
  .keluarku .close{
    right: 140px;
    bottom: 20px;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

