@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: auto;
  }

body {
    background-color: #F1F1F1;
}

.container {
    display: flex;
    min-height: 100vh;
    position: relative;
}

.sidebar {
    width: 304px;
    height: auto;
    background-color: white;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);
    padding: 1.25rem 1rem 1rem 1rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.sidebar .header {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
}

.sidebar a{
    text-decoration: none;
}

.sidebar .main .list-menu .description {
    color: black;
    font-size: 23.2px;
    font-weight: 500;
}

.sidebar .main .list-menu .icon {
    margin-right: .75rem;
    color: black;
    height: 1rem;
    width: 1rem;
}

.sidebar .main .list-menu {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem 0 .75rem .75rem;
    border-radius: 8px;
    width: 17rem ;
    height: 2.5rem;
    margin-bottom: .5rem;
}

.sidebar .main .list-menu-active .description {
    color: white;
    font-size: 23.2px;
    font-weight: 500;
}

.sidebar .main .list-menu-active .icon {
    margin-right: .75rem;
    color: black;
    height: 1rem;
    width: 1rem;
}

.sidebar .main .list-menu-active {
    background-color: #6F6CEC;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .75rem 0 .75rem .75rem;
    border-radius: 8px;
    height: 2.5rem;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: .5rem
}

.sidebar .list-menu:hover {
    background-color: #e4e4e4;  
    transition: all ease-in 350ms;
}

.wrap-header {
    background-color: rgba(241, 241, 241, .9);
    position: fixed;
    top: 0;
    right: 2rem;
    left: 21rem;
    height: 5rem;
    border-radius: 0 0 10px 10px;
    z-index: 99;
}

header {
  position: fixed;
  top: 1rem;
  right: .95rem;
  left: 21rem;
height: 4rem;
  background-color: white;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10); 
border-radius: 10px;
  box-sizing: border-box;
  padding: 0.9rem ;
  z-index: 100;
}

header .icon-header {
    position: absolute;
    right: 1rem;
}

header img{
  transition: scale 350ms;
  height: 2.2rem;
  width: auto;
  box-sizing: border-box;
  margin-left: 1.25rem;
}

header img:hover {
  scale: .9;
  width: auto;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 19rem;
  margin-top: 75px; 
}


.table_dt th  {
  background-color: rgba(0, 0, 0, 0.10);
  border : 2px solid rgba(0, 0, 0, 0.10);
  font-size: 14px;
  padding: 1rem;
  text-align: left;
  width: 12%;
  font-weight: 500;
}

.table_dt td {
  font-size: 14px;
  font-weight: 350;       
  padding: 1rem;
  border : 2px solid rgba(0, 0, 0, 0.10);
}

.table_dt {
  border-style: none;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(255, 255, 255);
}

td button{
  transition: box-shadow 350ms ease;
  border: none;
  background-color: #6F6CEC;
  color: white;
  padding: 0 1rem;
  border-radius: 8px;
  height: 35px;
}

button i{
  font-size: 1rem;
}

td button:hover {
  box-shadow: 5px 5px 10px rgba(111, 108, 236, 0.3), -5px 0 10px rgba(111, 108, 236, 0.3);
  cursor: pointer;
  
}

td:first-child {
  font-weight: 500;
}

td + .action {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.notif {
  position: relative;
  height: auto;
  background-color: #d4edda;
  color: #155724;
  padding: .5rem .75rem;
  font-size: 14px;
  width: 73rem;
  margin: 2rem 2rem 0 2rem;
  border-radius: .5rem;
  font-weight: 500;
}

.clsnotif {
  position: absolute;
  top: .2rem;
  right: .75rem;
  border: none;
  background-color: #d4edda;
  font-size: 20px;
}

.clsnotif:hover {
  scale: .8;
  top: .25rem;
  right: .8rem;
}

button:hover {
  cursor: pointer;
}

.popbox {
  position: relative;
  margin: 2rem 2rem 0 2rem;
  width: 73rem;
  height: auto;
  background: white; 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10); 
  border-radius: .5rem;
  box-sizing: border-box;
  padding: 1.5rem;
}


.btnbtn-primarybtn-lg {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}


.tambah img {
  position: absolute;
  left: .8rem;
  top: .8rem;
  display: flex;
  height: .8rem;
  width: .8rem;
}

.tambah {
  transition: box-shadow 350ms ease;
  border: none;
  background-color: #6F6CEC;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: right;
  border-radius: .5rem;
  width: 7.5rem;
  height: 2.5rem;
  margin-bottom: 8px
}

.tambah p {
  position: absolute;
  left: 2.25rem;
  top: .45rem;
  font-weight: 400;
  color: white;
  font-size: 1rem;
}

.popbox a {
    text-decoration: none;
}

.tambah:hover{
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(111, 108, 236, 0.3), -5px 0 10px rgba(111, 108, 236, 0.3);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: white;
  padding-top: 1.5rem;
  width: 28rem;
  border-radius: 10px;
  height: 30rem;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.3s
}



.modal-content p {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}


.modal-content .ftambah{
  margin-left: 18%;
  margin-right: 18%;
} 

.modal-content .fedit{
  margin-left: 18%;
  margin-right: 18%;
} 

.modal-content label {
  font-size: 14px;
  font-weight: 400;
  margin-top: 1rem;
}

.modal-content input {
  width: 100%;
  border-radius: 8px;
  height: 30px;
  padding: 1rem;
  border : 1px solid grey;
}

.modal-content input[readonly]{
  background-color: rgba(0, 0, 0, 0.10);
}

.modal-content select {
  width: 100%;
  border-radius: 8px;
  height: 35px;
  border : 1px solid grey;
  padding: 0 .8rem;
}

.modal-content select:invalid {
  color: gray;
}
.modal-content option[value=""][disabled] {
  display: none;
}
.modal-content option{
  color: black;
}

.form-box {
  margin-top: 8px;
}

.simpan {
  transition: box-shadow 350ms ease;
  background-color: #6F6CEC;
  border: none;
  width: 110px;
  height: 30px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  align-content: center;
}

.modal-content i{
  margin-right: 4px;
}

.close {
  transition: box-shadow 350ms ease;
  background-color: #6F6CEC;
  border: none;
  color: white;
  position: absolute;
  width: 110px;
  height: 30px;
  right: 150px;
  bottom: 30px;
  font-size: 14px;
  position: all;   
  border-radius: 20px;
  padding: 5px 10px;
}

.modal-content input:focus {
  outline: none;
  border: 1px solid #6F6CEC;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);
}

.modal-content select:focus {
  outline: none;
  border: 1px solid #6F6CEC;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);
}

.modal button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(111, 108, 236, 0.3), -5px 0 10px rgba(111, 108, 236, 0.3);
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.keluarku{
  position: relative;
  background-color: white;
  height: 150px;
  width: 480px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.10);
  font-weight: 500;
  font-size: 24px;
  padding: 40px 10px 10px 10px;
  text-align: center;
  
}

.keluarku .simpan{
  right: 20px;
  bottom: 20px;
}

.keluarku .close{
  right: 140px;
  bottom: 20px;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}