@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #D0D2E0;
}

.wrapper {
  width: 400px;
  height: auto;
  background: white;
  border-radius: 15px;
  padding: 15px 55px 42px 55px;
}

.wrapper h1 {
  text-align: center;
}

.wrapper h1 img {
  width: 147px;
  height: 67.5px;
}

.wrapper h2 {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

.wrapper h3 {
  font-size: 12px;
  font-weight: 400;
}

.wrapper .input-box {
  position: relative;
  width: 100%;
  height: 37.5px;
  background: white;
  margin: 20px 0 25px 0;
}

.input-box input {
  width: 100%;
  height: 100%; 
  outline:none;
  border: 1.5px solid #7F7F7F;
  border-radius: 7px; 
  font-size: 12px;
  padding: 20px 20px 20px 40px;
}

.input-box input::placeholder {
  color: #ABABAB;
  font-size: 12px;
  position: absolute;
}

.placeholder {
  position: absolute;
  left: 35px;
  top: 12px;
  color: #ABABAB;
  font-size: 12px;
  font-weight: 350;
  padding: 0 5px;
  transition: 350ms;
  pointer-events: none;
}

.input-box .bx-lock-alt ,.bx-user{
  position: absolute;
  left: 15px;
  top: 55%;
  transform: translateY(-50%);
  color: #ABABAB;
  font-size: 16px;
}

input:focus,
input:valid {
  border: 1.5px solid #6F6CEC;
}

input:focus ~ .bx-user,
input:valid ~ .bx-user {
  color: #6F6CEC;

}

input:focus ~ .bx-lock-alt,
input:valid ~ .bx-lock-alt{
  color: #6F6CEC;
}

input:focus + .placeholder {
  left: 40px;
}
input:valid + .placeholder {
  top: -8px;
  left: 30px;
  font-size: 10px;
  color: #6F6CEC;
  background-color: white;
}

.input-box .fa-eye{
  transition: all ease-in 250ms;
  position: absolute;
  right: 15px;
  top: 40%;
  color: #ABABAB;
  font-size: 12px;
  cursor: pointer;
}

.wrapper .btn {
  transition: all ease-in 350ms;
  width: 100%;
  height: 37.5px;
  background: #6F6CEC;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 10px;
}

.bawah {
  justify-content: center;
  align-items: center;
}

.wrapper .btn-masuk {
  transition: all ease-in 350ms;
  height: 37.5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #6F6CEC;
  text-decoration: none;
  text-align: center;
}

#daftar:hover {
  background-color: #5351bf;
}

#masuk:hover {
  color: #5351bf;
}

.error {
  margin-top: 5px;
  color: red;
  width: 100%;
  height: auto;
  font-size: 10px;
}

.tbl {
  display: inline-flex;
  width: auto;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  background-color: #6F6CEC;
  color: #fff;
  border-radius: 5px;
  margin: 10px;
}